.idea
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore mechmania stuff
debuglog/
engine/
gamelogs/
logs/



# Ignore everything
*

# But don't ignore directories, so we can traverse them
!*/

# Don't ignore the test directory and everything inside it
!test/
!test/**